<div class="container__big-card">
  <div class="big-card__picture">
    <img src="https://assets1.ignimgs.com/2021/03/02/top10mcu-blogroll-1614706980472_160w.jpg?width=1280"
    height="300px"
    alt="">
  </div>
  <div class="big-card__title">
    <h1>

      <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, vel?</a>
    </h1>
  </div>
  <div class="big-card__description">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Qui necessitatibus consectetur, doloribus deserunt ab voluptatem,
      illo itaque reprehenderit officiis eius nam cumque vero?
      Reiciendis fugit voluptate velit doloremque, voluptatibus reprehenderit?</p>
  </div>
</div>
