<div class="small-card">
  <div class="small-card__item">
    <div class="small-card__picture">
      <img src="https://t2.tudocdn.net/304096?w=1200&h=1200" alt="">
    </div>
    <div class="small-card__description">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At, dolore.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. At, dolore.
      </p>
    </div>
  </div>
  <div class="small-card__item">
    <div class="small-card__picture">
      <img src="https://t2.tudocdn.net/304096?w=1200&h=1200" alt="">
    </div>
    <div class="small-card__description">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At, dolore.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. At, dolore.
      </p>
    </div>
  </div>
  <div class="small-card__item">
    <div class="small-card__picture">
      <img src="https://t2.tudocdn.net/304096?w=1200&h=1200" alt="">
    </div>
    <div class="small-card__description">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At, dolore.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. At, dolore.
      </p>
    </div>
  </div>
</div>
